<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Spring Demo</title>
</head>

<body>
  <br /><br /><br />
  <h1>Click Here to Show the Form...</h1>
  <a href="/showform">form</a>
  <br /><br /><br />
  <a href="/showformmodel">form for model</a>

  <br><br><br>
  <hr>
  <h1>Student registration</h1> <br>
  <a href="/student-registration">student registration</a>
</body>

</html>