<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Registrtion Form</title>
    <style>
        .errorclassmsg {
            color: red;
        }
    </style>
</head>

<body>
    <h1 style="align-items: center; color: blue;">Student Form</h1>
    <br />
    <hr />
    <form th:action="@{/student-registration}" th:object="${student}" method="post">
        Name : <input type="text" placeholder="Enter your name" th:field="*{name}" /><br />
        <p th:if="${#fields.hasErrors('name')}" th:errorclass="errorclassmsg" th:errors="*{name}">Name length must be greather than 3</p>

        Email : <input type="email" placeholder="Email" th:field="*{email}" /><br />

        Password : <input type="password" placeholder="password" th:field="*{password}" /><br />

        Date of Birth : <input type="text" placeholder="yyyy-mm-dd" th:field="*{birthdate}"><br>

        Sex : <input type="radio" th:field="*{sex}" value="Male" />Male
        <input type="radio" th:field="*{sex}" value="Female" />Female<br>

        Graduate : <input type="checkbox" th:field="*{graduate}" /><br>

        Age : <input type="text" placeholder="age" th:field="*{age}" /><br>

        Profession : <select th:field="*{profession}">
            <option th:each="p : ${professions}" th:value="${p}" th:text="${p}"></option>
        </select><br>

        Note : <textarea th:field="*{note}" cols="30" rows="10"></textarea>
        <p th:if="${#fields.hasErrors('note')}" th:errorclass="errorclassmsg" th:errors="*{note}">happy to have note</p>
        <input type="submit" value="submit" />
    </form>
</body>

</html>