<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spring Demo</title>
  </head>
  <body>
    <h1>Welcome...</h1>
    <br />
    <hr />
    <div th:object="${Student}">
      Hello <span th:text="*{name}">sonu</span>. This is the msg to show you
      your age and sex.
      <br />
      Your name is : <span th:text="*{name}">sonu</span>.
      <br />
      Your age is : <span th:text="*{age}">21</span>.
      <br />
      Your sex is : <span th:text="*{sex}">male</span>.
      <hr />
    </div>
  </body>
</html>
